@model ProtokolForm
<a class="print-doc" href="javascript:(print());"> Распечатать</a>

<h1 class="text-center">@Model.CompetetionName</h1>
<h2>Финишный протокол</h2>
@foreach (var item in Model.ageGroups)
{
    var i = 1;
    var FirstTime = new TimeSpan();
    <h4>@NameGroup(item)</h4>
    <table>
        <tr class="table table-hover">
            <th>
                Место
            </th>
            <th>
                Имя
            </th>
            <th>
                Время
            </th>
        </tr>
        @foreach (var us in Model.users.Where(t => (t.Sex == item.Sex && t.Age >= item.Yahr1 && t.Age <= item.Yahr2)).OrderBy(t => t.ResultTime))
        {
            
            if (i == 1) FirstTime = us.FinishTime;

            <tr>
                <td>
                    @i
                </td>
                <td>
                    @us.Name
                </td>
                <td>
                    @if (i == 1)
                    {
                        @us.FinishTime
                    }
                    else
                    {
                        @("+") @(us.FinishTime - FirstTime)
                    }
                </td>
            </tr>
            i++;
        }
    </table>
}

@functions{
    public static string NameGroup(AgeGroup AG)
    {
        string NG = "Возрастная группа ";
        if (AG.Yahr1 == 0) NG += AG.Yahr2 + " и старше";
        else if (AG.Yahr2 == DateTime.Today.Year) NG += AG.Yahr1 + " и младше";
        else NG+= AG.Yahr1 + " - " + AG.Yahr2;
        if (AG.Sex == 0)
        {
            if (DateTime.Today.Year - AG.Yahr2 <= 14) NG += " девочки";
            else if (DateTime.Today.Year - AG.Yahr2 <= 22) NG += " девушки";
            else NG += " женщины";
        }
        else
        {
            if (DateTime.Today.Year - AG.Yahr2 <= 14) NG += " мальчики";
            else if (DateTime.Today.Year - AG.Yahr2 <= 22) NG += " юноши";
            else NG += " мужчины";
        }
        return NG;
    }
}